<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <provider
            android:name="fr.outadoc.justchatting.feature.preferences.presentation.LogFileProvider"
            android:authorities="${applicationId}.logfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/log_share" />

        </provider>

    </application>
</manifest>