<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <provider
            android:name="fr.outadoc.justchatting.feature.preferences.presentation.LogFileProvider"
            android:authorities="${applicationId}.logfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/log_share" />

        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="fr.outadoc.justchatting.di.KoinInitializer"
                android:value="androidx.startup" />

        </provider>

        <receiver
            android:name="fr.outadoc.justchatting.feature.timeline.presentation.widget.LiveWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_live_title">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_live" />

            <meta-data
                android:name="com.samsung.android.appwidget.provider"
                android:resource="@xml/widget_samsung_info" />

        </receiver>

        <receiver
            android:name="fr.outadoc.justchatting.feature.followed.presentation.widget.FollowedChannelsWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_channels_title">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_followed" />

            <meta-data
                android:name="com.samsung.android.appwidget.provider"
                android:resource="@xml/widget_samsung_info" />

        </receiver>

        <receiver
            android:name="fr.outadoc.justchatting.feature.recent.presentation.widget.RecentChannelsWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_recent_title">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_recent" />

            <meta-data
                android:name="com.samsung.android.appwidget.provider"
                android:resource="@xml/widget_samsung_info" />

        </receiver>

        <activity
            android:name="fr.outadoc.justchatting.feature.shared.presentation.mobile.MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="tiramisu">

            <layout
                android:defaultWidth="1000dp"
                android:defaultHeight="800dp"
                android:minWidth="350dp"
                android:minHeight="500dp" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="justchatting" />

            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="just-chatting.app" />

            </intent-filter>
        </activity>

        <activity
            android:name="fr.outadoc.justchatting.feature.chat.presentation.mobile.EmbeddedChatActivity"
            android:allowEmbedded="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="true"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="n">

            <layout
                android:defaultWidth="500dp"
                android:defaultHeight="900dp"
                android:minWidth="300dp"
                android:minHeight="430dp" />

        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                tools:node="remove" />

        </provider>

        <provider
            android:name="fr.outadoc.justchatting.feature.chat.presentation.UserProfileImageContentProvider"
            android:authorities="${applicationId}.user-image-provider"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />

        <service
            android:name="fr.outadoc.justchatting.feature.chat.presentation.ChatConnectionService"
            android:foregroundServiceType="" />

    </application>
</manifest>
