<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:targetApi="s">

        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true">

            <layout
                android:defaultWidth="1000dp"
                android:defaultHeight="800dp"
                android:minWidth="350dp"
                android:minHeight="500dp" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="justchatting" />

            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="just-chatting.app" />

            </intent-filter>
        </activity>

        <activity
            android:name=".ui.chat.ChatActivity"
            android:allowEmbedded="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.App.Chat"
            android:windowSoftInputMode="adjustResize">

            <layout
                android:defaultWidth="500dp"
                android:defaultHeight="900dp"
                android:minWidth="300dp"
                android:minHeight="430dp" />

        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                tools:node="remove" />

            <meta-data
                android:name="fr.outadoc.justchatting.di.KoinInitializer"
                android:value="androidx.startup" />

        </provider>

        <provider
            android:name=".contentprovider.UserProfileImageContentProvider"
            android:authorities="${applicationId}.user-image-provider"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />

        <service
            android:name=".ChatConnectionService"
            android:foregroundServiceType="" />

    </application>
</manifest>